a{
    text-decoration: none;
}

#twitter-link{
    background: url(./img/Twitter_Social_Icon_Square_Color.svg) no-repeat;
    padding-left: 2rem;
    line-height: 2rem;

}

#facebook-link{
    background-image: url(./img/f_logo_RGB-Blue_58.png);
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    padding-left: 2rem;
    line-height: 2rem;
}

#github-link{
    background-image: url(./img/GitHub-Mark-64px.png);
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    padding-left: 2rem;
    line-height: 2rem;
}
